In [63]:
################# Grouping and Aggregating

In [2]:
############### Read data from csv
import pandas as pd
df=pd.read_csv("D:\\data\\survey_results_public.csv")
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [68]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [77]:
# Generate statistics on individual column
print(df["ResponseId"].min())
print(df["ResponseId"].max())
print(df["ResponseId"].mean())
print(df["ResponseId"].median())
print(df["ResponseId"].count())
print(df["ResponseId"].std())

1
83439
41720.0
41720.0
83439
24086.90889259143

In [75]:
# Generate statistics on individual column
print(df["ResponseId"].describe())

count    83439.000000
mean     41720.000000
std      24086.908893
min          1.000000
25%      20860.500000
50%      41720.000000
75%      62579.500000
max      83439.000000
Name: ResponseId, dtype: float64

In [78]:
# Get statistics of all numeric fields
# Here, count is number of non NaN
df.describe()

         ResponseId     CompTotal  ConvertedCompYearly
count  83439.000000  4.718300e+04         4.684400e+04
mean   41720.000000  2.119407e+69         1.184262e+05
std    24086.908893  4.603702e+71         5.272944e+05
min        1.000000  0.000000e+00         1.000000e+00
25%    20860.500000  1.600000e+04         2.702500e+04
50%    41720.000000  6.700000e+04         5.621100e+04
75%    62579.500000  1.400000e+05         1.000000e+05
max    83439.000000  1.000000e+74         4.524131e+07

In [79]:
# Median of all numeric fields in a dataframe
df.median()

ResponseId             41720.0
CompTotal              67000.0
ConvertedCompYearly    56211.0
dtype: float64

In [81]:
# Count in each distinct category
df["Country"].value_counts()

United States of America                                15288
India                                                   10511
Germany                                                  5625
United Kingdom of Great Britain and Northern Ireland     4475
Canada                                                   3012
                                                        ...
Brunei Darussalam                                           1
Tuvalu                                                      1
Liechtenstein                                               1
Saint Vincent and the Grenadines                            1
Saint Kitts and Nevis                                       1
Name: Country, Length: 181, dtype: int64

In [83]:
# Percentage in each distinct category
df["Country"].value_counts(normalize=True)

United States of America                                0.183224
India                                                   0.125972
Germany                                                 0.067415
United Kingdom of Great Britain and Northern Ireland    0.053632
Canada                                                  0.036098
                                                          ...
Brunei Darussalam                                       0.000012
Tuvalu                                                  0.000012
Liechtenstein                                           0.000012
Saint Vincent and the Grenadines                        0.000012
Saint Kitts and Nevis                                   0.000012
Name: Country, Length: 181, dtype: float64

In [6]:
# Get only country India
country_group=df.groupby(["Country"])
country_group.get_group("India")

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
8,9,I am a developer by profession,Employed part-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,Coding Bootcamp,6,...,25-34 years old,Man,No,NaN,South Asian,NaN,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
22,23,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,5 - 10 years,School;Friend or family member,7,...,Under 18 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
39,40,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School,3,...,18-24 years old,Woman,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,NaN
49,50,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,Some college/university study without earning ...,11 - 17 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
52,53,I am a developer by profession,Employed full-time,India,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",5,...,25-34 years old,Man,No,Prefer not to say,I don't know,None of the above,None of the above,Too long,Neither easy nor difficult,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83399,83400,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Too short,Easy,27923.0
83406,83407,I am a student who is learning to code,"Student, full-time",India,NaN,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",2,...,18-24 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,NaN
83410,83411,I am a student who is learning to code,"Student, part-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",18 - 24 years,"Other online resources (ex: videos, blogs, etc)",1,...,18-24 years old,Man,No,Straight / Heterosexual,I don't know,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,NaN
83411,83412,I am a developer by profession,Employed full-time,India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",8,...,25-34 years old,Man,No,Straight / Heterosexual,South Asian,None of the above,None of the above,Appropriate in length,Easy,48866.0
83417,83418,I am a developer by profession,"Student, full-time",India,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,School;Friend or family member;Online Courses ...,3,...,18-24 years old,Man,No,NaN,South Asian,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN

In [9]:
# Value count based on Sexuality for each country
country_group=df.groupby(["Country"])
country_group["Sexuality"].value_counts()

Country      Sexuality
Afghanistan  Straight / Heterosexual                                                           25
             Prefer to self-describe:                                                           6
             Bisexual                                                                           4
             Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer     3
             Prefer not to say                                                                  2
                                                                                               ..
Zambia       Bisexual                                                                           1
             Prefer not to say                                                                  1
Zimbabwe     Straight / Heterosexual                                                           32
             Prefer not to say                                                                  1
             Prefer to self-describe:                                                           1
Name: Sexuality, Length: 1107, dtype: int64

In [11]:
# Value count based on Sexuality for specific country
country_group=df.groupby(["Country"])
country_group["Sexuality"].value_counts().loc["Afghanistan"]

Sexuality
Straight / Heterosexual                                                           25
Prefer to self-describe:                                                           6
Bisexual                                                                           4
Straight / Heterosexual;Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer     3
Prefer not to say                                                                  2
Straight / Heterosexual;Bisexual;Gay or Lesbian;Queer                              2
Bisexual;Gay or Lesbian                                                            1
Bisexual;Prefer to self-describe:;Gay or Lesbian;Queer                             1
Queer                                                                              1
Straight / Heterosexual;Prefer to self-describe:                                   1
Name: Sexuality, dtype: int64

In [4]:
# Median for each group
country_group=df.groupby(["Country"])
country_group["CompTotal"].median()

Country
Afghanistan                                63000.0
Albania                                   100000.0
Algeria                                    60000.0
Andorra                                    87000.0
Angola                                    130000.0
                                           ...
Venezuela, Bolivarian Republic of...        1000.0
Viet Nam                                18000000.0
Yemen                                        300.0
Zambia                                     12000.0
Zimbabwe                                     600.0
Name: CompTotal, Length: 181, dtype: float64

In [9]:
# Median and mean for each group
country_group=df.groupby(["Country"])
country_group["CompTotal"].agg(["median","mean"])

                                          median          mean
Country
Afghanistan                              63000.0  5.845616e+05
Albania                                 100000.0  2.504897e+06
Algeria                                  60000.0  1.791122e+05
Andorra                                  87000.0  9.892500e+04
Angola                                  130000.0  3.387364e+05
...                                          ...           ...
Venezuela, Bolivarian Republic of...      1000.0  5.110863e+07
Viet Nam                              18000000.0  5.330125e+07
Yemen                                      300.0  8.436429e+04
Zambia                                   12000.0  3.455264e+04
Zimbabwe                                   600.0  1.135846e+03

[181 rows x 2 columns]

In [12]:
# Median and mean for specific group
country_group=df.groupby(["Country"])
country_group["CompTotal"].agg(["median","mean"]).loc["Afghanistan"]

median     63000.000000
mean      584561.636364
Name: Afghanistan, dtype: float64

In [5]:
# Get only country India and find number of values for each distinct category of Sexuality
fil=df["Country"]=="India"
df.loc[fil]["Sexuality"].value_counts()

Straight / Heterosexual                                  6996
Prefer not to say                                         805
Bisexual                                                  228
Prefer to self-describe:                                   70
Straight / Heterosexual;Bisexual                           29
Gay or Lesbian                                             19
Queer                                                       8
Straight / Heterosexual;Prefer to self-describe:            7
Bisexual;Queer                                              4
Straight / Heterosexual;Bisexual;Gay or Lesbian;Queer       3
Gay or Lesbian;Queer                                        3
Bisexual;Gay or Lesbian                                     3
Prefer to self-describe:;Queer                              3
Straight / Heterosexual;Queer                               2
Straight / Heterosexual;Bisexual;Queer                      2
Name: Sexuality, dtype: int64

In [ ]:
# Get only country India
fil=df["Country"]=="India"
df.loc[fil]

In [101]:
# Aggregation based on group by 
df.groupby(["Country"]).agg(
    ResponseIdCount=("ResponseId","count"),
    ResponseIdSum=("ResponseId","sum"),
    AgeFirst=("Age","first"),
    MainBranchLast=("MainBranch","last")
        
).reset_index()

,Country,ResponseIdCount,ResponseIdSum,AgeFirst,MainBranchLast
0,Afghanistan,65,2925428,18-24 years old,I code primarily as a hobby
1,Albania,73,3384774,18-24 years old,I am a developer by profession
2,Algeria,46,1980610,25-34 years old,I am a student who is learning to code
3,Andorra,12,512842,Under 18 years old,I am a developer by profession
4,Angola,27,1138298,35-44 years old,I am a student who is learning to code
...,...,...,...,...,...
176,"Venezuela, Bolivarian Republic of...",104,4536386,35-44 years old,I am a developer by profession
177,Viet Nam,386,16375926,18-24 years old,"I am not primarily a developer, but I write co..."
178,Yemen,20,840633,25-34 years old,I am a developer by profession
179,Zambia,22,846112,25-34 years old,I am a developer by profession
180,Zimbabwe,36,1855786,18-24 years old,I am a student who is learning to code